.App {
  text-align: center;
}

.mainContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  justify-content: flex-start;
  gap: 20px;
  margin: auto
}

.AbsenceContainer{
  display: flex;
  flex-direction: column;
  height: 100;
  border: 1px black solid;
}

.BtnContainer{
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: 0 auto 30px auto;
  justify-content: space-between;

}